<main class="container mt-5">
    <div class="row justify-content-center">
        {{#if Alert}}
        <div id="alert" class="col-8 alert alert-danger fs-4">
            <b>Alert!!</b><span class="ms-3">{{AlertMessage}}</span>
            <img onload="disableAlert()" src="https://d500.epimg.net/cincodias/imagenes/2018/11/13/lifestyle/1542113135_776401_1542116070_noticia_normal.jpg" class="d-none">
        </div>
        {{/if}}
        <form action="/" method="post" class="w-50 mt-5 shadow p-5 pt-4">
            <h1 class="text-center mb-5">FORMULARIO</h1>
            <label class="my-3 mb-2 fs-4" for="DIdentidad">Documento De Identidad</label>
            <input class="form-control fs-4" type="text" name="DIdentidad" id="DIdentidad"
                placeholder="Ingrese Su Documento De Identidad">
            <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-primary my-3 px-5 fs-4">Enviar</button>
            </div>
        </form>
    </div>
</main>